[core]
  editor = vim
[user]
  name = Peter Hajdu
  email = peter@hajdu.im
[color]
  diff = auto
  status = auto
  branch = auto
  log = auto
  decorate = auto
  grep = auto
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[alias]
  lg = log --graph --decorate --oneline
